*{
    margin: 0;
}

body {
    margin: 0;
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f2f2f2;

    position: relative;
    min-height: 100vh;
    
}
main {
    padding-bottom: 60px; /* Ajusta el espacio en la parte inferior para que el footer no se superponga al contenido */
}

nav{
    background-color: #ff7411;
    display: flex;
    width: 100%;
    height: 100px;
    /*flex-direction: row;*/
    justify-content: center; /* Centra los elementos horizontalmente */
    
    color: white;
    text-align: center;
    /*padding: 15px 0; */
    font-family: "Homer Simpson UI";
    
}
.nav-item {
   margin: 30px 10px; /* Añade espacio entre los enlaces */
    /*text-align: center;*/
    color:white;
    font-family: "Homer Simpson UI";
    text-decoration: none; /* Elimina el subrayado */
    /*text-align: center;*/
    /*margin-left: 200px;*/
}
.nav-item:hover {
    /* Cambia el color del texto al pasar el ratón sobre el enlace (opcional) */
    color: #00c0eb; /* Puedes ajustar el color según tus preferencias */
  }

footer{
    background-color: #ff7411;
    color: white;
    display: flex;
    margin-top: 80px; /* Empuja el footer hacia abajo para que esté al final de la página. */
    width: 100%;
    height: 170px;
    justify-content: space-around;
    padding: 10px;
   /* position: absolute;
    bottom: 0cqmin;*/
    position: absolute;
    bottom: 0;
    
    
}
.alumnos {
    margin-top: 20px;

}
.alumnos h4{
    margin-top: 10px;
    color: rgba(255,255,255,0.8);
}
.contactos {
    /*margin-top: 15px;*/
    /*display: flex;*/
    /*justify-content: space-between; */
    margin-top: 20px;
  
}
.contactos h4{
    margin-top: 10px;
    color: rgba(255,255,255,0.8);
}
.redes-sociales {
    /*margin-top: 15px;*/
    display: flex;
    justify-content: space-between; 
    margin-top: 30px;
  
}

.container-dogs{
    display: flex;
    justify-content: space-between; /* Distribuye las cards uniformemente en el contenedor */
    margin-top: 50px;
    
    
}
.card {
    border: 0px solid #ccc;;
    /*padding: 0px;*/
    margin: 25px;
    border-radius: 15px 15px 15px 15px;
    color: #8c7c71;
    /*transition: transform 0.3s ease-in-out; *//* transición suave para el efecto de zoom */
    transition: transform 0.3s ease-in-out, cursor 0.3s ease; /* Agrega la transición para el cursor */
    
}

.card h3{
    margin-left: 10px;
}

.card:hover {
    transform: scale(1.1); /* escala la card al 110% en el efecto de zoom */
}

.img-card {
    
    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    width: 400px;
    height: 300px; 
    object-fit: cover; /* Mantiene la proporción y cubre completamente el contenedor */
    border-radius: 10px 10px 0 0;
}

.container-dogs-twenty {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    padding-bottom: 200px;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    margin-top: 50px;
}
.container-dogs-favorites {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    padding-bottom: 200px;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    margin-top: 50px;
}



.card-info{
    padding: 10px;
    background-color: #fff8fa;
    border-radius: 0px 0px 15px 15px;
    margin-top: 0%;
}

.container-buttons-card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.button-detail{
    border: none;
    color: #10ada6;
    background-color: #fff8fa;
    cursor: pointer; /* Cambia el cursor a una mano por defecto */
    margin-top: 10px;
}
.button-favorite{
    border: none;
    /*color: #10ada6;*/
    background-color: #fff8fa;
    cursor: pointer; /* Cambia el cursor a una mano por defecto */
    margin-top: 10px;
}
.button-sesion {
    background-color: #3db8c0;
    color: #ffffff;
    box-shadow: 0 4px 12px rgb(27 169 76 / 50%);
    font-size: 20.005px;
    padding-left: 1.528em;
    padding-right: 1.528em;
    padding-top: 0px;
    padding-bottom: 0;
    min-height: 2.778em;
    border: none;
    cursor: pointer;
    text-decoration: none; /* Elimina el subrayado */
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 10px;
}
.button-sesion:hover {
    background-color: #10ada6;
}
.user-logged{
    width: 100%;
    display: flex;
    background-color: #d87e37;
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(169, 98, 27, 0.5);
    font-size: 20px;
    padding-left: 1.528em;
    /*padding-right: 1.528em;*/
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none; /* Elimina el subrayado */
}