*{
    margin: 0;
}

body {
    margin: 0;
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f2f2f2;

    position: relative;
    min-height: 100vh;
    
}
main {
    padding-bottom: 60px; /* Ajusta el espacio en la parte inferior para que el footer no se superponga al contenido */
}

nav{
    background-color: #ff7411;
    display: flex;
    width: 100%;
    height: 100px;
    /*flex-direction: row;*/
    justify-content: center; /* Centra los elementos horizontalmente */
    
    color: white;
    text-align: center;
    /*padding: 15px 0; */
    font-family: "Homer Simpson UI";
    
}
.nav-item-desactiva {
   margin: 30px 10px; /* Añade espacio entre los enlaces */
    /*text-align: center;*/
    color:white;
    font-family: "Homer Simpson UI";
    text-decoration: none; /* Elimina el subrayado */
}
.nav-item-desactiva:hover {
    /* Cambia el color del texto al pasar el ratón sobre el enlace (opcional) */
    color: #00c0eb; /* Puedes ajustar el color según tus preferencias */
}

.nav-item-activa {
    margin: 30px 10px; /* Añade espacio entre los enlaces */
     /*text-align: center;*/
     color:#00c0eb;
     font-family: "Homer Simpson UI";
     text-decoration: none; /* Elimina el subrayado */

 }

footer{
    background-color: #ff7411;
    color: white;
    display: flex;
    margin-top: 80px; /* Empuja el footer hacia abajo para que esté al final de la página. */
    width: 100%;
    height: 170px;
    justify-content: space-around;
    padding: 10px;
   /* position: absolute;
    bottom: 0cqmin;*/
    position: absolute;
    bottom: 0;
    
    
}
.alumnos {
    margin-top: 20px;

}
.alumnos h4{
    margin-top: 10px;
    color: rgba(255,255,255,0.8);
}
.contactos {
    /*margin-top: 15px;*/
    /*display: flex;*/
    /*justify-content: space-between; */
    margin-top: 20px;
  
}
.contactos h4{
    margin-top: 10px;
    color: rgba(255,255,255,0.8);
}
.redes-sociales {
    /*margin-top: 15px;*/
    display: flex;
    justify-content: space-between; 
    margin-top: 30px;
  
}

.container-five-dogs{
    display: flex;
    justify-content: space-between; /* Distribuye las cards uniformemente en el contenedor */
    margin-top: 50px;
    
    
}
.card {
    border: 0px solid #ccc;;
    /*padding: 0px;*/
    margin: 25px;
    border-radius: 15px 15px 15px 15px;
    color: #8c7c71;
    transition: transform 0.3s ease-in-out, cursor 0.3s ease; /* Agrega la transición para el cursor */
    
}


.card h3{
    margin-left: 10px;
}

.card:hover {
    transform: scale(1.1); /* escala la card al 110% en el efecto de zoom */
}

.img-card {
    
    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    width: 400px;
    height: 300px; 
    object-fit: cover; /* Mantiene la proporción y cubre completamente el contenedor */
    border-radius: 10px 10px 0 0;
}

.card-details{
    display: flex;
    flex-direction: column;
    margin: 25px;
    max-width: 600px;
    border: 0px;
    border-radius: 15px 15px 15px 15px;
    color: #8c7c71;
}
.img-card-details {
    
    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    /*width: 400px;*/
    height: 400px; 
    object-fit: cover; /* Mantiene la proporción y cubre completamente el contenedor */
    border-radius: 10px 10px 0 0;
}

.container-dogs-twenty {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    padding-bottom: 200px;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    margin-top: 50px;
}
.container-dogs-favorites {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    padding-bottom: 200px;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    margin-top: 50px;
}
.container-dogs {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    padding-bottom: 200px;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    margin-top: 50px;
}



.card-info{
    padding: 10px;
    background-color: #fff8fa;
    border-radius: 0px 0px 15px 15px;
    margin-top: 0%;
}

.container-buttons-card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.button-detail{
    border: none;
    color: #10ada6;
    background-color: #fff8fa;
    cursor: pointer; /* Cambia el cursor a una mano por defecto */
    margin-top: 10px;
}
.button-favorite{
    border: none;
    /*color: #10ada6;*/
    background-color: #fff8fa;
    cursor: pointer; /* Cambia el cursor a una mano por defecto */
    margin-top: 10px;
}
.button-sesion {
    background-color: #3db8c0;
    color: #ffffff;
    box-shadow: 0 4px 12px rgb(27 169 76 / 50%);
    font-size: 20.005px;
    padding-left: 1.528em;
    padding-right: 1.528em;
    padding-top: 0px;
    padding-bottom: 0;
    min-height: 2.778em;
    border: none;
    cursor: pointer;
    text-decoration: none; /* Elimina el subrayado */
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 10px;
}
.button-sesion:hover {
    background-color: #10ada6;
}
.user-logged{
    width: 100%;
    display: flex;
    background-color: #d87e37;
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(169, 98, 27, 0.5);
    font-size: 20px;
    padding-left: 1.528em;
    /*padding-right: 1.528em;*/
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none; /* Elimina el subrayado */
}

.container-form{
    display: flex;
    grid-template-columns: auto auto auto;
    width: 100%;
    padding-bottom: 200px;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    margin-top: 100px;
    border: 10px;
    color: #ffffff;
    
}

.form-content{
    

    display: flex;
    flex-direction: column;
    margin: 25px;
    max-width: 600px;
    border: 5px;
    border-radius: 15px 15px 15px 15px;
    color: #0f0e0e;
    border-color: #0f0e0e;

}

form {
    border: 2px solid #ccc; /* Color y grosor del borde */
    padding: 30px; /* Espaciado interno */
    width: 600px; /* Ancho del formulario */
    box-sizing: border-box; /* Incluye el grosor del borde en el ancho total */
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    height: 400px;
    /*
    background-image: linear-gradient(225deg, #ffffc3 0, #f3ffc4 6.25%, #e2ffc4 12.5%, #cfffc6 18.75%, #baffc8 25%, #a1ffca 31.25%, #84ffce 37.5%, #5fffd2 43.75%, #10f8d7 50%, #00f1dd 56.25%, #00eae6 62.5%, #00e4ef 68.75%, #00def9 75%, #00d8ff 81.25%, #00d3ff 87.5%, #00cdff 93.75%, #00c8ff 100%);
    */
    background-image: linear-gradient(225deg, #ccd8a1 0, #c0d7a0 6.25%, #b3d59f 12.5%, #a4d39e 18.75%, #93d09e 25%, #7fcc9e 31.25%, #68c79e 37.5%, #4ac1a0 43.75%, #0bbba2 50%, #00b4a5 56.25%, #00aeab 62.5%, #00a8b1 68.75%, #00a2b8 75%, #009dc0 81.25%, #0098c8 87.5%, #0094cf 93.75%, #008fd6 100%);
}

input {
    width: 100%; /* El input ocupa el 100% del ancho del contenedor (formulario) */
    padding: 10px; /* Espaciado interno del input */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    margin-bottom: 10px; /* Espacio inferior entre inputs, ajusta según tus preferencias */
    border-radius: 15px 15px 15px 15px; 
    font-size: 20px;
    border: none;
}

.button-form {
    background-color: #3db8c0;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px 15px 15px 15px; 
    border: none;
    cursor: pointer;
    
}
.button-form:hover {
    background-color: #10ada6;
}

.icon-login{
    font-size: 200px;
    /*width: 50px;*/
    color: #ffffff;
    display: flex;
   
    
}
.container-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}