*{
    margin: 0;
}

body {
    margin: 0;
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

nav{
    background-color: #ff7411;
    display: flex;
    width: 100%;
    height: 100px;
    /*flex-direction: row;*/
    justify-content: center; /* Centra los elementos horizontalmente */
    
    color: white;
    text-align: center;
    /*padding: 15px 0; */
    font-family: "Homer Simpson UI";
    
}
.nav-item {
   margin: 30px 10px; /* Añade espacio entre los enlaces */
    /*text-align: center;*/
    color:white;
    font-family: "Homer Simpson UI";
    text-decoration: none; /* Elimina el subrayado */
    /*text-align: center;*/
    /*margin-left: 200px;*/
}
.nav-item:hover {
    /* Cambia el color del texto al pasar el ratón sobre el enlace (opcional) */
    color: #00c0eb; /* Puedes ajustar el color según tus preferencias */
  }

footer{
    background-color: #ff7411;
    color: white;
    display: flex;
    margin-top: 80px; /* Empuja el footer hacia abajo para que esté al final de la página. */
    width: 100%;
    height: 170px;
    justify-content: space-around;
    padding: 10px;
    /*position: absolute;*/
    /*bottom: 0;*/
}
.alumnos {
    margin-top: 20px;

}
.alumnos h4{
    margin-top: 10px;
    color: rgba(255,255,255,0.8);
}
.contactos {
    /*margin-top: 15px;*/
    /*display: flex;*/
    /*justify-content: space-between; */
    margin-top: 20px;
  
}
.contactos h4{
    margin-top: 10px;
    color: rgba(255,255,255,0.8);
}
.redes-sociales {
    /*margin-top: 15px;*/
    display: flex;
    justify-content: space-between; 
    margin-top: 30px;
  
}

.container-dogs{
    display: flex;
    justify-content: space-between; /* Distribuye las cards uniformemente en el contenedor */
    margin-top: 50px;
    
    
}
.card {
    border: 1px solid #ccc;;
    /*padding: 0px;*/
    margin: 25px;
    border-radius: 10px 10px 10px 10px;
    /*font-family: "Arial";*/
    /*font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;*/
    color: #8c7c71;

    /*transition: transform 0.3s ease-in-out; *//* transición suave para el efecto de zoom */
    transition: transform 0.3s ease-in-out, cursor 0.3s ease; /* Agrega la transición para el cursor */
    cursor: pointer; /* Cambia el cursor a una mano por defecto */
}

.card h3{
    margin-left: 10px;
}

.card:hover {
    transform: scale(1.1); /* escala la card al 110% en el efecto de zoom */
}

.img-card {
    
    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    width: 400px;
    height: 300px; 

    /*width: 100%;*/
    /*height: 100%;*/
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.container-dogs-twenty {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    padding-bottom: 50px;
    justify-content: space-between;
}
.card-twenty{
/*
  display: flex;
  background: #3c3e44;
  margin: 20px 10px;
  border-radius: 10px;
  align-items: flex-start;
  border: 1px solid #ccc;
*/
  border: 1px solid #ccc;;
    /*padding: 0px;*/
    margin: 25px;
    border-radius: 10px 10px 10px 10px;
    /*font-family: "Arial";*/
    /*font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;*/
    color: #8c7c71;

    /*transition: transform 0.3s ease-in-out; *//* transición suave para el efecto de zoom */
    transition: transform 0.3s ease-in-out, cursor 0.3s ease; /* Agrega la transición para el cursor */
    cursor: pointer; /* Cambia el cursor a una mano por defecto */


}